.teamCard {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 500px;
	height: 300px;
	border: 1px solid $color-border;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba($color-secondary, 0.1);
	padding: 16px;
	background-color: $color-primary;
	transition: transform 300ms ease-in-out;

	img {
		width: 220px;
		height: 220px;
	}

	.clubInfo {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 12px;
		font-size: 18px;
	}

	&:hover {
		box-shadow: 0 8px 12px rgba($color-highlight, 0.15);
		transform: translateY(-3px);
	}
}
