.teamDetails {
	display: flex;
	flex-direction: column;
	gap: 40px;

	.clubAndLeague {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;

		.club,
		.league {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 8px;

			p {
				font-weight: 700;
			}
		}
		.club {
			p {
				color: $color-primary;
			}
		}
	}

	.stats {
		display: grid;
		grid-template-columns: repeat(auto-fit, 400px);
		gap: 40px;

		.fixtures {
			display: flex;
			flex-direction: column;
			gap: 20px;

			h3 {
				padding-inline: 12px;
				font-size: 24px;
			}

			table {
				border: 1px solid $color-border;
				width: 100%;
				border-collapse: separate;
				border-spacing: 0;
				box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

				th,
				td {
					padding: 12px 16px;
					text-align: left;
					border-bottom: 1px solid $color-border;
				}

				th {
					background-color: $color-secondary;
					font-weight: 700;
					color: $color-primary;
					border-bottom: 2px solid $color-border;
				}

				tr:last-child td {
					border-bottom: none;
				}

				td:first-child {
					font-weight: 500;
				}
			}
		}
	}
}
