.teamDetails {
	display: flex;
	flex-direction: column;
	gap: 40px;

	.clubAndLeague {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 40px;

		.club,
		.league {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 8px;

			p {
				font-weight: 700;
			}
		}
		.club {
			p {
				color: $color-primary;
			}
		}
	}

	.stats {
		display: grid;
		grid-template-columns: repeat(auto-fit, 400px);
		gap: 40px;

		.fixtures {
			display: flex;
			flex-direction: column;
			gap: 20px;

			h3 {
				padding-inline: 12px;
				font-size: 24px;
			}
		}
	}
}
