@use '@/assets/styles/_variables.scss' as *;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	background-color: $color-background;
	color: $color-text;
	font-family: 'Aachen', Arial, sans-serif;
	min-height: 100vh;
}

button {
	cursor: pointer;
}

/* UTILS */
.pagePadding {
	padding: 20px;
}
.card {
	border: 1px solid $color-border;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba($color-secondary, 0.1);
	padding: 16px;
	background-color: $color-primary;
	transition: transform 300ms ease-in-out;

	&:hover {
		box-shadow: 0 8px 12px rgba($color-highlight, 0.15);
		transform: translateY(-3px);
	}
}

/* PAGES */
.dashboardContainer {
	h1 {
		text-align: center;
		padding-block: 20px;
		font-size: 48px;
	}
	.dashboard {
		display: grid;
		grid-template-columns: repeat(auto-fit, 500px);
		gap: 40px;
	}
}
